<div class="container">
  <h3>Registration Form</h3>
  <form [formGroup]="Registrationform" (ngSubmit)="OnSubmit()">
    <!--First name field-->
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label"
        >First Name:</label
      >
      <input
        type="text"
        class="form-control"
        id="firstname"
        formControlName="fname"
        placeholder="Enter first name"
      />
    </div>
    <!--Last name field-->
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label"
        >Last Name:</label
      >
      <input
        type="text"
        class="form-control"
        id="lastname"
        formControlName="lname"
        placeholder="Enter last name"
      />
    </div>
    <!--Email Adress field-->
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Email:</label>
      <input
        type="email"
        class="form-control"
        id="email"
        formControlName="email"
        placeholder="name@example.com"
      />
    </div>
    <!--Date of birth field-->
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label"
        >Date Of Birth:</label
      >
      <input
        type="date"
        class="form-control"
        id="dob"
        formControlName="dateofbirth"
      />
    </div>
    <!--Gender  field-->
    <div class="mb-3">
      <label for="gender" class="form-label">Gender:</label>
      <select id="gender" class="form-select" formControlName="gender">
        <option value="" disabled>Select Gender</option>
        <option *ngFor="let g of Gender" [value]="g">{{ g }}</option>
      </select>
      <div
        *ngIf="
          Registrationform.get('gender')?.hasError('required') &&
          Registrationform.get('gender')?.touched
        "
        class="text-danger mt-1"
      >
        Gender is required.
      </div>
    </div>
    <!--Mobile Number field-->
    <div formArrayName="mymobilenumber">
      <div
        class="form-group row mb-3"
        *ngFor="let Registrationform of newMobileNumber.controls; let i = index"
        [formGroupName]="i"
      >
        <div class="col-md-8">
          <input
            formControlName="phonenumber"
            placeholder="Enter Mobile Number"
            class="form-control"
            [ngClass]="{
              'is-invalid':
                Registrationform.get('phonenumber')?.touched &&
                Registrationform.get('phonenumber')?.invalid
            }"
          />
          <div
            class="invalid-feedback"
            *ngIf="
              Registrationform.get('phonenumber')?.touched &&
              Registrationform.get('phonenumber')?.hasError('required')
            "
          >
            Mobile Number is required
          </div>
        </div>
        <div class="col-md-4">
          <button
            type="button"
            class="btn-btn-danger"
            (click)="removeMobileNumber(i)"
          >
            Remove
          </button>
        </div>
      </div>
      <!--Add skill button-->
      <button type="button" (click)="(addMobileNumber)" class="btn-btn-primary">
        Add Mobile Number
      </button>
    </div>
  </form>
</div>
